<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @structure.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @structure.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @structure.email %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @structure.variety %>
</p>

<%= link_to 'Edit', edit_structure_path(@structure) %> |
<%= link_to 'Back', structures_path %>
